.pre {
    align-items: center;
    text-align: center;
}

body {
    background-color: #000000;

}

.start-button {
    padding: 20px;
    border-radius: 100px;
    color: white;
    background-color: #000000;
    border: 1.5px solid #ffffff;
    margin-top: 250px;
}

.steve,
.village,
.cave,
.golem,
.chest,
.deeper,
.mine{
    height: 200px;
}


.choice1img,
.choice2img,
.choice3img{
    display: flex;
    justify-content: space-around;
    margin-top: 180px;
    margin-bottom: 10px;
}


.first {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.options1,
.options2{
    display: flex;
    justify-content: space-around;

}

.first,
.page2,
.village,
.cave,
.page3,
.iron,
.house,
.ending1,
.villages,
.caves{
    display: none;
}


.second1,
.second2{
    text-align: center;
    margin-top: 20px;
}

.death{
	height: 450px;
}