.pre {
    align-items: center;
    text-align: center;
}

body {
    background-color: #000000;

}

.start-button {
    padding: 20px;
    border-radius: 100px;
    color: white;
    background-color: #000000;
    border: 1.5px solid #ffffff;
    margin-top: 250px;
}

.steve {
    display: none;
    height: 200px;
}

.village {
    height: 200px;
    display: none;
}

.cave {
    height: 200px;
    display: none;
}

.choice1img {
    display: flex;
    justify-content: space-around;
    margin-top: 205px;
}

.scenery {
    display: flex;
    justify-content: space-around;

}

.first {
    display: none;
    text-align: center;
    margin-top: 20px;
}