.pre {
    align-items: center;
    text-align: center;
}

body {
    background-color: #000000;

}

.start-button {
    padding: 20px;
    border-radius: 100px;
    color: white;
    background-color: #000000;
    border: 1.5px solid #ffffff;
}

.steve {
    display: none;
    height: 200px;
    padding-right: 5%;
}

.village {
    height: 200px;
    display: none;
}

.cave {
    height: 200px;
    display: none;
}

.choice1 {
    display: flex;
    justify-content: space-around;
}